<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.smnb20.Dao.Member_Father_Mapper">

	<select id="MemberLoginCheck" parameterType="HashMap" resultType="mvo">
		select idx, id, name from member20 
			where id=#{id} and password=#{password} 
	</select>
</mapper>
	
	
